@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: 243 247 238;
  --brand-100: 228 238 214;
  --brand-200: 202 223 174;
  --brand-300: 168 201 126;
  --brand-400: 132 173 82;
  --brand-500: 95 141 52;
  --brand-600: 47 94 31;
  --brand-700: 39 77 28;
  --brand-800: 33 63 26;
  --brand-900: 29 53 24;

  --canvas: 244 243 238;
  --card: 255 255 255;

  --ink: 31 36 33;
  --ink-muted: 107 114 128;
}

[data-theme='blue'] {
  --brand-50: 239 246 255;
  --brand-100: 219 234 254;
  --brand-200: 191 219 254;
  --brand-300: 147 197 253;
  --brand-400: 96 165 250;
  --brand-500: 59 130 246;
  --brand-600: 37 99 235;
  --brand-700: 29 78 216;
  --brand-800: 30 64 175;
  --brand-900: 30 58 138;

  --canvas: 248 250 252;
}

[data-theme='purple'] {
  --brand-50: 245 243 255;
  --brand-100: 237 233 254;
  --brand-200: 221 214 254;
  --brand-300: 196 181 253;
  --brand-400: 167 139 250;
  --brand-500: 139 92 246;
  --brand-600: 124 58 237;
  --brand-700: 109 40 217;
  --brand-800: 91 33 182;
  --brand-900: 76 29 149;

  --canvas: 250 245 255;
}

[data-theme='green'] {
  --brand-50: 243 247 238;
  --brand-100: 228 238 214;
  --brand-200: 202 223 174;
  --brand-300: 168 201 126;
  --brand-400: 132 173 82;
  --brand-500: 95 141 52;
  --brand-600: 47 94 31;
  --brand-700: 39 77 28;
  --brand-800: 33 63 26;
  --brand-900: 29 53 24;

  --canvas: 244 243 238;
}

.pdf-export-mode * {
  line-height: 1.35 !important;
}

.pdf-export-mode svg text {
  dominant-baseline: auto !important;
}

.pdf-export-mode select,
.pdf-export-mode input,
.pdf-export-mode button {
  display: none !important;
}

.pdf-export-mode .overflow-hidden {
  overflow: visible !important;
}

.pdf-export-mode td,
.pdf-export-mode th,
.pdf-export-mode p,
.pdf-export-mode span,
.pdf-export-mode h3 {
  overflow: visible !important;
}


@layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-canvas text-ink antialiased;
  }
}